# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Project build artifacts
obj/
balatro
test_runner
benchmark_exe
deck_analysis
hand_comparison

# Runtime data
*.dat
obj/
test_runner
balatro_stats.dat
balatro
balatro_save.dat
